body {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: bold;
  /*background-color: #222222;*/
  background-image: url("http://wallpapercave.com/wp/RMdbmli.jpg");
  background-position: -300px -300px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.cell {
  color: white;
  padding: 10px;
  margin: 3px;
  width: 70px;
  height: 50px;
  background-color: #222222;
}

.cell-wd {
  width: 298px;
  padding-right: 28px;
  word-break: break-word;
  height: auto;
}

.cell-db {
  width: 146px;
}

.cell:hover {
  background-color: rgba(255,255,255,0.2);
  color: white;
  cursor: pointer;
}

.cell-wd:hover {
  background-color: #222222;
  opacity: 1.0;
  color: white;
  cursor: auto;
}
